body {
  display: flex;
  flex-direction: column;;
  align-items: center;
  justify-content: center;
  background-color: #FDFFFC;
  margin: 20px;
  font-family: 'Muli', sans-serif;
  color: #235789;
}

h1 {
  color: #FDFFFC;
}

h2 {
  margin: 15px 0px 0px 0px
}

h3 {
  margin: 0px;
}

ul {
  list-style-type:none;
  padding: 0px;
}

form {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: #ED1C24;
  border-width: 4px;
  max-width: 350px;
  padding: 10px;
  margin: 15px 0px 0px 0px;
}

.form-wrapper {
  margin: 10px;
}

.form-item{
  margin: 15px;
}

.character-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 850px;
}

.character-list-item{
  border-style: solid;
  border-width: 2px;
  border-color: #ED1C24;
  padding:15px;
  margin: 10px 10px;
  min-width: 140px;
}

.delete-button{
  visibility: hidden;
  margin: 0px 0px 20px 0px;
}

.add-button{
  align-self: center;
}

div.banner {
  background-color: #235789;
  padding: 0px;
  margin: 0px;
  min-height: 20px;
  min-width: 100%
}

div.banner h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
